*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* main banner section style started */
/* navbar style started */
.navbar ul{
  display: flex;
  list-style: none;
}
.navbar ul li{
    margin-left: 50px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500px;
    text-decoration: none;
    color: #2a1313;
}
header{
    background-color: #ffead1;
}
.main-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
}
.logo-text h1{
    font-weight: 700;
    font-size: 45px;

}
.logo-text span{
    color: #FF900E;
}
.main-banner{
    width: 50%;
    margin: auto;
    padding-top: 115px;
    text-align: center;
}
.main-banner h2{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    line-height: 75px;
}
.main-banner p{
    padding-top: 10px;
    color: #727272;
    line-height: 26px;
}
.banner-btn{
 font-size: 20px;
 font-weight: 700px;
 padding: 20px 25px;
 background-color: #FF900E;
 color: #FFFFFF;
 margin-top: 30px;
 border: none;
 border-radius: 7px;
 cursor: pointer;
 transition: 0.05s all ease-in-out;
}
.banner-btn:hover{
    background-color: transparent;
    border: 1px solid salmon;
    color: purple;
}
.banner-img{
    margin-top: 50px;
    text-align: center;
}
.banner-img img{
    width: 80%;
    padding-bottom: 50px;

}
.more-feature{
    position: relative;
}
.feature{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 90px;

}
.feature-img{
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
}
.feature-img img{
    width: 90%;
}
.feature-title{
    width: 40%;
}
.enjoy-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
    column-gap: 90px;
}
.left-section{
    width: 590px;
}
.left-section h2{
    font-size: 45px;
    font-weight: 700px;
    width: 470px;
    padding-left: 20px;
    border-left: 5px solid #FF900E;
}
.left-section p{
    width: 525px;
    padding-bottom: 25px;
    padding-top: 20px;
    line-height: 25px;
    color: #727272;
}
.box{
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 30px 0px 0px 30px ;
    box-shadow: 1 1 10 -2 lightgrey;
}
.right-section{
   width: 800px;
   margin-left: 60px; 
}
.experience{
    position: absolute;
    font-weight: 700px;
    font-size: 45px;
    background-color: goldenrod;
    color: white;
    bottom: -2%;
    right: 40%;
    border: none;
    padding: 40px 35px;
    border-radius: 7px;
    line-height: 25px;
    cursor: pointer;
    transition: 0.04s all  ease-in-out;

}
.experience-btn:hover{
    background-color: transparent;
    border: 2px solild #FF900E;

}

.fact{
    margin-top: 125px;
}
.fact-title{
  margin: auto;
  width: 258px;
}
.fact-title h2{
    font-weight: 700px;
    font-size: 45px;

}
.fact-title p{
    width: 542px;
    margin-top: 25px;
    margin-bottom: 100px;
    color: #727272;

}
.card-section{
    display: flex;
    justify-content: center;
}
.card-img{
    text-align: center;
    padding: 45px 35px;
    margin-left: 125px;
    border: 2px solid salmon;
    border-radius: 7px;
    transition: 0.04s all ease-in-out;
}
.card-img:hover{
    background-color:goldenrod;
    color: black;
}
.card-img h2{
    font-weight: 600px;
    font-size: 45px;
    line-height: 50px;

}
.card-img p{
    font-weight: 600px;
    font-size: 20px;
    line-height: 20px;
    color: #727272;
}
.icon{
    width: 40px;
    text-align: center;
    padding-top: 20px;
}
.icon i{
    margin-left: 5px;
    cursor: pointer;
}
.sponsor{
    text-align: center;
    padding-top: 130px;
}
.sponsor h2{
    font-weight: 700px;
    font-size: 45px;
    padding-bottom: 25px;
}
.sponsor p{
    width: 542px;
    margin: auto;
    margin-bottom: 50px;
}
.sponsor-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer{
    width: 620px;
    text-align: center;
    margin: auto;
    /* border: 3px solid goldenrod; */

}
.footer-title{
    font-size: 20px;
    text-align: center;
    margin: 130px 0px;
    padding: 40px 410px;
    color: #424242;
    background-color: #ffead1;
}







